*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 15px; */
  text-transform: capitalize;
  /* font-weight: 500; */
  font-family: 'poppins'!important;
  
}
h2{
  font-weight: 700!important;
  font-size: 2.5rem;
}
button{
  border: none;
  border-radius: 35px!important;
  text-transform: capitalize!important;
  background-color: orange;
  color: #fff;
  box-shadow: 0px 10px 100px 25px orange;
  padding: 10px 30px 10px 30px;
  transition: .5s;
}
button:hover{
background-color: #fff;
border: 1px solid orangered;
color: #000;
}
ul{
  list-style: none;
}
.relative{
  position: relative;
}